
/*
** root document container
**  background-color: ghostwhite;
**  background-color: whitesmoke;
**  background-color: floralwhite;
**  font-size: smaller;
*/
.Wt-domRoot
{
  font-family: Arial;
  font-weight: normal;
  background-color: azure;
}

.AccountRegister
{
/*  font-size:smaller; */
}

/*
** Background and big fat line on the
**  bottom border of the header
*/
.AccountRegister
 .Wt-header
{
  background-color: #96b183;
  border-bottom:2px solid black;
}

/*
** Negative values are red
**
*/
.AccountRegister
 .negval
{
  color:red;
  background-color:gold !important;
}

/*
** Error values are super-red
**
*/
.AccountRegister
 div.errval
{
  color:#0713ce;
  background-color:#ff000082 !important;
  border-radius:5px;
}

.AccountRegister input
{
  padding:0px;
}

/* Account elipsis '...' on the left */
.AccountRegister
 .Wt-header
  .Wt-tv-c4,
.AccountRegister
 .Wt-tv-contents
  .Wt-tv-c4
{
  direction: rtl;
}

/* read-only selected row */
.AccountRegister
 .Wt-tableview
  .Wt-tv-contents
   div.Wt-tv-c.active
{
  color: #0d0c0c;
  font-weight:bold;
  background-color:#ffef98 !important;
}

/* alternating row colors, first line (basic ledger: rowbl) */
.AccountRegister
 .Wt-tableview
  .Wt-tv-contents
   .rowbl:nth-child(2n)
{
  background-color:#feffda;
}

/* alternating row colors, second line (basic ledger: rowbl) */
.AccountRegister
 .Wt-tableview
  .Wt-tv-contents
   .rowbl:nth-child(2n+1)
{
  background-color:#bfdeb9;
}

/* static row colors, (transaction journal: rowtj) */
.AccountRegister
 .Wt-tableview
  .Wt-tv-contents
   .rowtj
{
  background-color:#bfdeb9;
}

/* static row colors, (transaction journal data: rowtd) */
.AccountRegister
 .Wt-tableview
  .Wt-tv-contents
   .rowtd
{
  background-color:#ede7d3;
}

/* static row colors, rowDoubleLine */
.AccountRegister
 .rowdl
{
  background-color:aliceblue;
}

/*
.AccountRegister
 .Wt-tableview
  .Wt-tv-contents
   .rowo
{
  background-color:#1c861333;
}

.AccountRegister
 .Wt-tableview
  .Wt-tv-contents
   .rowe
{
  background-color:#ffcb0024;
}
*/

/*
** the following css are turned off because we're not
**  using the 'alternatingRowColors' feature in the
**  table views.  Insead we are using the .rowo and
**  .rowe class selectors.
*/
/* Alternating Row Colors Even */
/*.AccountRegister
 .Wt-tableview
  .Wt-tv-contents.Wt-striped
   div.Wt-tv-c:nth-child(2n)
{
  background-color:#ffcb0024;
}
*/

/* Alternating Row Colors Odd */
/*.AccountRegister
 .Wt-tableview
  .Wt-tv-contents.Wt-striped
   div.Wt-tv-c:nth-child(2n+1)
{
  background-color:#1c861333;
}
*/

/* Thin black line underneath each row */
.AccountRegister
 .Wt-tableview
  .Wt-tv-contents
   .Wt-tv-c
{
  border-bottom: 1px solid black;
}

/* Thin black line on the left */
.AccountRegister
 .Wt-tableview
  .Wt-tv-contents
   .Wt-tv-c1
{
  border-left: 1px solid black;
}

/* Extra padding on the right for scroll bar */
.AccountRegister
 .Wt-tableview
  .Wt-tv-contents
   .Wt-tv-c8
{
  padding-right: 15px;
}

/* Extra padding on the right for scroll bar */
.AccountRegister
 .Wt-tableview
  .Wt-headerdiv
   .Wt-tv-c8
{
  padding-right: 15px;
}

/* Selected Editor Widget padding/margin (the div right before the editor) */
.AccountRegister
 .Wt-tableview
  .Wt-tv-contents
   div.Wt-tv-c.selectable
{
  padding:0px;
  margin:0px;
}

/* Selected Editor Widget background highlight (the editor) */
.AccountRegister
 .Wt-tableview
  .Wt-tv-contents
   div.Wt-tv-c.selectable
    input
{
/*  background-color:#ffef98; */
  background-color:yellow;
  vertical-align:top;
}

.AccountEditor
{
  background-color:#ffbf0047;
  border: 1px solid black;
  padding: 5px;
}





/*
.Wt-dateedit {
  padding-right: 40px;
  background-image: url('date-edit-button-2.png');
  background-position: right top;
  background-repeat: no-repeat;
}
*/





.BillPay
 .EditWidget
{
  background-color:#ffbf0047;
  border: 1px solid black;
}

.BillPay .SummaryTable
{
/*  width: 100%; */
  border-collapse: separate;
}

.BillPay .SummaryTable .acctDay
{
  text-align:center !important;
  color:black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding-top: 5px;
}

.BillPay .SummaryTable td
{
  padding-left:4px;
  padding-right:3px;
}

.BillPay .SummaryTable td:nth-child(1)
{
  border-left: 1px solid black;
  text-align:right;
}

.BillPay .SummaryTable td:nth-child(2)
{
  border-right: 1px solid black;
  text-align:left;
}

.BillPay .SummaryTable .su
{
  border-bottom: 1px solid black;
}

.BillPay .SummaryTable .du
{
  border-bottom: 3px double black;
}

.billpay
 .active
{
  background-color: red !important;
}


/*
** Selected 'month' columns are highlighted
**  important overrides the alternating row colors
*/
.billpay .colsel
{
  background-color:#1aeaff !important;
  color: black;
}

.billpay.unpaid.Wt-tableview .Wt-header
{
  background-color:#ffb6c194;
}

.billpay.pending.Wt-tableview .Wt-header
{
  background-color:#ffe6b694;
}

.billpay.paid.Wt-tableview .Wt-header
{
  background-color:#90ee909e;
}

.billpay.inactive.Wt-tableview .Wt-header
{
  background-color:lightgray;
}

.billpayedit
{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5px;
}

.billpayedit
 .t1
{
  border-collapse: collapse;
  width: 75%;
}

.billpayedit
 .t1
  td
{
  padding-left: 3px;
  padding-right: 3px;
  text-align: left;
}

.PaymentWidget
{
  background-color: aquamarine;
}

.MakePaymentTable
{
  margin-bottom: 5px;
}

.MakePaymentTable .date
{
  width:125px;
}

.MakePaymentTable .num
{
  width:35px;
  text-align:center;
}

.MakePaymentTable .desc
{
  width:175px;
}

.MakePaymentTable .acct
{
  width:175px;
  text-align:right;
}

.MakePaymentTable .recon
{
  width:35px;
  text-align:center;
}

.MakePaymentTable .debit
{
  width:75px;
  text-align:right;
}

.MakePaymentTable .credit
{
  width:75px;
  text-align:right;
}

.MakePaymentTable .form-control
{
  padding-left:5px;
  padding-right:5px;
  padding-top:0px;
  padding-bottom:0px;
  height:23px;
}



